*{
    font-family: "Roboto", sans-serif;
}

.nav-link:hover:before{
    transition: transform 0.3s;
    position: relative;
}

.nav-link:hover{
    transform: translatey(-1px);
    text-decoration: underline;
}

img{
    animation: slide-right 1s;
}

#kamion{
    animation: slide-left 1s;
}

.card {
    display:inline-block;
    background: transparent;
    transition: transform 0.3s, background-color 0.3s linear;
}

.card:hover {
    background: #0d6efd;
    color:white;
    transform: translatey(-10px);
}

h1{
    animation: fade 2s
}

@keyframes slide-right{
    from {
        margin-left: -100%;
    }
    to {
        margin-left:0%;
    }
}

@keyframes slide-left{
    from{
        margin-left:200%
    }
    to{
        margin-left: 0%;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#hero-video {
    position: absolute;
    opacity:10%;
    top:16%; /* odstranenim se jen ukaze v hero */
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}