*{
    font-family: "Roboto", sans-serif;
}

.nav-link:hover:before{
    transition: transform 0.3s;
    position: relative;
}

.nav-link:hover{
    transform: translatey(-1px);
    text-decoration: underline;
}

img{
    animation: ease-in;
}

.card {
    display:inline-block;
    background: transparent;
    transition: transform 0.3s, background-color 0.3s linear;
}

.card:hover {
    background: #0d6efd;
    transform: translatey(-10px);
}

h1{
    animation: fade 1s
}

@keyframes fade{
    from {opacity:0;}
    to {opacity:1;}
}